[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"
ipywidgets = ">=7.5"

[packages]
numpy = "*"
scipy = "*"
sympy = "*"
plotly = "*"
pandas = "*"
jinja2 = "*"

[requires]
python_version = "3.8"
